<div id="home_carousel" class="carousel slide">

    <ol class="carousel-indicators">
        <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
        <li data-target="#home_carousel" data-slide-to="1"></li>
        <li data-target="#home_carousel" data-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner">
        <div class="item active">
		  <div class="image-bg" style="background-image:url(/img/bouquet.jpg);">
	            <div class="container">
	                <div class="carousel-caption">
	                    <h1>Roses</h1>
	                    <p>Stop and smell them</p>
	                    <p><a href="/things" class="btn btn-large btn-primary app_link">Go to things!</a>
	                </div>
	            </div>
            </div>
        </div>
        <div class="item">
            <div class="image-bg" style="background-image:url(/img/colorful.jpg);">
	            <div class="container">
	                <div class="carousel-caption">
	                    <h1>Don't walk into that brush!</h1>
	                    <p>Walking around it is a much better idea</p>
	                    <p><a href="/things" class="btn btn-large btn-primary app_link">Go to things!</a>
	                </div>
	            </div>
            </div>
        </div>
        <div class="item">
            <div class="image-bg" style="background-image:url(/img/greenland.jpg);">
	            <div class="container">
	                <div class="carousel-caption">
	                    <h1>Greenland mountains</h1>
	                    <p>Great colors</p>
	                    <p><a href="/things" class="btn btn-large btn-primary app_link">Go to things!</a>
	                </div>
	            </div>
            </div>
        </div>
    </div>
    
    <a class="left carousel-control" href="#home_carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#home_carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    
</div>